{% extends 'seller/seller_base.html' %}
{% load static %}

{% block title %}Markcc|Delete Expired Cards{% endblock %}

{% block content %}
<div class="container my-4">
    <div class="billing-page-container">
        <section class="create-ticket-section">
            <div class="col-xl-12">
                <div id="datatable" class="mb-5">
                    <div class="card">
                        <div class="card-body">
                            <div class="text-center text-info">
                                <p>Format must be looks like below</p>
                                <p>month:::03/3 and year:::2023/23</p>
                               
                            </div>
        
                            <form class="row g-3" action="{% url 'expired' %}" method="POST">
                                {% csrf_token %}
                                <div class="form-group col-md-6">
                                    <label for="inputZip">Month</label>
                                    <input type="text" class="form-control" name="month">
                                </div>
                                <div class="form-group col-md-6">
                                    <label for="inputZip">Year</label>
                                    <input type="text" class="form-control" name="year">
                                </div>
                            
                                <div class="col-12 text-center">
                                  <button type="submit" class="btn btn-outline-success" value="search">Search Cards</button> 
                                </div>
                            </form>
        
                            <div class="mt-5">
                                {% if messages %}
                                    {% for message in messages %}
                                        <p id="messages" class='text-danger text-center'>{{ message }} </p>
                                    {% endfor %}
                                {% endif %}
                            </div>
                            {% if total_count %}
        
                            <h2 class="text-center text-info">total cards {{total_count}}</h2>
                            {% endif %}
        
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-12">
                <div id="datatable" class="mb-5">
                    <div class="card">
                        <div class="card-body text-center">
                            {% if total_cvv %}
                            <form action="{% url 'delete_all_expired' %}" method="POST">
                                {% csrf_token %}
                                <button type="submit" class="btn btn-danger mb-3">Delete All Expired Cards</button>
                                <input type="hidden" name="card_ids" value="{% for expired in total_cvv %}{{ expired.id }}{% if not forloop.last %},{% endif %}{% endfor %}">
                            </form>
                                
                                <table class="table">
                                    <thead>
                                        <tr>
                                            <th scope="col">ID</th>
                                            <th scope="col">EXP</th>
                                            <th scope="col">CARD BIN</th>
                                            <th scope="col">BASE ID</th>
                                            <th scope="col">Card Seller</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        {% for expired in total_cvv %}
                                        <tr>
                                            <td>{{expired.id}}</td>
                                            <td>{{expired.card_expiry_month}}/{{expired.card_expiry_year}}</td>
                                            <td>{{expired.card_bin}}</td>
                                            <td>{{expired.card_base}}</td>
                                            <td>{{expired.uploaded_by}}</td>
                                        </tr>
                                        {% endfor %}
                                    </tbody>
                                </table>
                            {% else %}
                                <div class="text-center">
                                    <p>No CVV data available.</p>
                                    <p>Search to get cvv</p>
                                </div>
                            {% endif %}
        
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
</div>
{% endblock %}
