{% extends 'base.html' %}
{% block title %}FullzHub|Change Password{% endblock %}
{% block meta_description %}{% endblock %}
{% block meta_keywords %}{% endblock %}
{% block meta_author %}FullzHub Team{% endblock %}
{% block content %}
<div class="container my-4">
    <div class="row">
        <div class="col-md-6 m-auto">
            <div class="change-password-container page-container">
                <div class="mb-3">
                    {% if messages %}
                        {% for message in messages %}
                            <p class="{% if message.tags == 'error' %}text-danger text-center{% elif message.tags == 'success' %}text-success text-center{% endif %}">{{ message }}</p>
                        {% endfor %}
                    {% endif %}
                </div>
                <section class="change-pass-section">
                    <div class="password-change-form">
                        <form method="POST">
                            {% csrf_token %}
                            <div class="mb-3">
                                <label class="form-label">Old Password<span class="text-danger">*</span></label>
                                <input type="password" name="q_Old_Password" class="form-control password-change" id="exampleInputPassword1" placeholder="Old Password">
                            </div>
                            <div class="mb-3">
                                <label class="form-label">New Password<span class="text-danger">*</span></label>
                                <input type="password" name="q_new_Password" class="form-control password-change" id="NewPassword" placeholder="New Password">
                            </div>
                            <div class="mb-3">
                                <label class="form-label">Confirm Password<span class="text-danger">*</span></label>
                                <input type="password" name="q_confirm_new_Password" class="form-control password-change" id="ConfirmNewPassword" placeholder="Confirm Password">
                            </div>
                            <div class="form-group text-center">
                                <button type="submit" class="btn btn-warning mb-3 btn-change-password">Change Password</button>
                            </div>
                        </form>
                    </div>
                </section> 
            </div>
        </div>
    </div>
</div>
{% endblock %}
